## 2.1 변수, 이름, 객체
- 변수는 단지 이름을 붙이는 것이다.

In [6]:
a = 7
print(a)

7

In [7]:
b = a
print(b)

7

- The id() function returns identity (unique integer) of an object.

In [8]:
id(a)

1533094176

In [9]:
id(b)

1533094176

In [10]:
a = 10
print(a)
print(b)

10
7

In [12]:
print(id(a))
print(id(b))

1533094224
1533094176

In [16]:
v = 1.2
id(v)

68862672

In [17]:
v = 3.5
id(v)

68863008

## 2.2 숫자

### round 오차

In [33]:
value1 = 0.225
value2 = 0.235
print(round(value1, 2))
print(round(value2, 2))

0.23
0.23

In [37]:
import decimal
from decimal import Decimal
decimal.getcontext()

Context(prec=28, rounding=ROUND_HALF_UP, Emin=-999999, Emax=999999, capitals=1, clamp=0, flags=[], traps=[InvalidOperation, DivisionByZero, Overflow])

In [38]:
decimal.getcontext().rounding=decimal.ROUND_HALF_UP

In [40]:
dvalue1 = Decimal('0.225')
dvalue2 = Decimal('0.235')
print(round(dvalue1, 2))
print(round(dvalue2, 2))

0.23
0.24

### numpy round
- round
- round_
- around

In [41]:
import numpy as np

In [43]:
arr = np.array([0.225, 0.235])
arr

array([0.225, 0.235])

In [46]:
np.around(arr, decimals=2)

array([0.22, 0.24])

In [51]:
# arr2 = np.array([1.5, 2.5])
arr2

array([1.5, 2.5])

In [53]:
arr2.dtype

dtype('float64')

In [54]:
np.rint(arr2)

array([2., 2.])

### pandas round

In [55]:
import pandas as pd
from pandas import DataFrame, Series

In [65]:
np.random.seed(1)

In [66]:
df = pd.DataFrame(np.random.randn(3, 3),
                  columns=['A', 'B', 'C'], index=['first', 'second', 'third'])

In [67]:
df

               A         B         C
first   1.624345 -0.611756 -0.528172
second -1.072969  0.865408 -2.301539
third   1.744812 -0.761207  0.319039

In [73]:
df.round(2)

           A     B     C
first   1.62 -0.61 -0.53
second -1.07  0.87 -2.30
third   1.74 -0.76  0.32

In [74]:
df.round({'A': 1, 'C': 2})

          A         B     C
first   1.6 -0.611756 -0.53
second -1.1  0.865408 -2.30
third   1.7 -0.761207  0.32

In [76]:
decimals=pd.Series([1, 0, 2], index=['A', 'B', 'C'])
df.round(decimals)

          A    B     C
first   1.6 -1.0 -0.53
second -1.1  1.0 -2.30
third   1.7 -1.0  0.32

## 2.3 문자열

In [77]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [78]:
zen_of_py = """The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!
"""

In [80]:
print(zen_of_py)

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [90]:
def make_sql():
    return ("SELECT a, b, c, d "
            "FROM table "
            "WHERE a == 1 ")

print(make_sql())

SELECT a, b, c, d FROM table WHERE a == 1

## 연습문제

In [92]:
seconds_per_hour = 1 * 60 * 60

In [93]:
seconds_per_day = seconds_per_hour * 24

In [94]:
seconds_per_day

86400

In [95]:
seconds_per_day / seconds_per_hour

24.0

In [96]:
seconds_per_day // seconds_per_hour

24